USE [CustomerEngagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTicket]    Script Date: 23-02-2026 02:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CreateTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @CustomerId UNIQUEIDENTIFIER,
    @AgentId UNIQUEIDENTIFIER,
    @CategoryId INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Status INT,
    @CreatedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Tickets
    (
        TicketId,
        CustomerId,
        AgentId,
        CategoryId,
        Title,
        Description,
        Status,
        CreatedAt
    )
    VALUES
    (
        @TicketId,
        @CustomerId,
        @AgentId,
        @CategoryId,
        @Title,
        @Description,
        @Status,
        @CreatedAt
    );
END