USE [CustomerEngagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketReportByStatus]    Script Date: 23-02-2026 02:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetTicketReportByStatus]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Status,
        COUNT(*) AS TicketCount
    FROM dbo.Tickets
    GROUP BY Status
    ORDER BY Status;
END