USE [CustomerEngagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketsByCustomer]    Script Date: 23-02-2026 02:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetTicketsByCustomer]
(
    @CustomerId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TicketId,
        t.CustomerId,
        c.FullName AS CustomerName,
        t.AgentId,
        a.FullName AS AgentName,
        t.CategoryId,
        tc.CategoryName,
        t.Title,
        t.Description,
        t.Status,
        t.CreatedAt,
        t.UpdatedAt,
        t.ResolvedAt
    FROM dbo.Tickets t
    INNER JOIN dbo.Customers c ON t.CustomerId = c.CustomerId
    INNER JOIN dbo.Agents a ON t.AgentId = a.AgentId
    INNER JOIN dbo.TicketCategories tc ON t.CategoryId = tc.CategoryId
    WHERE t.CustomerId = @CustomerId
    ORDER BY t.CreatedAt DESC;
END