USE [CustomerEngagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ResolveTicket]    Script Date: 23-02-2026 02:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ResolveTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @Status INT,
    @ResolvedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Tickets
    SET 
        Status = @Status,
        ResolvedAt = @ResolvedAt
    WHERE TicketId = @TicketId;
END