USE [CustomerEngagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTicket]    Script Date: 23-02-2026 02:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UpdateTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Status INT,
    @UpdatedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Tickets
    SET 
        Title = @Title,
        Description = @Description,
        Status = @Status,
        UpdatedAt = @UpdatedAt
    WHERE TicketId = @TicketId;
END