USE [master]
GO
/****** Object:  Database [CustomerEngagementDB]    Script Date: 25-02-2026 06:32:55 ******/
CREATE DATABASE [CustomerEngagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerEngagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\CustomerEngagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerEngagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\CustomerEngagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerEngagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerEngagementDB]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Agents_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customers_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketCategories]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TicketCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[AgentId] [uniqueidentifier] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email]    Script Date: 25-02-2026 06:32:55 ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[Customers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_AgentId]    Script Date: 25-02-2026 06:32:55 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_AgentId] ON [dbo].[Tickets]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_CreatedAt]    Script Date: 25-02-2026 06:32:55 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_CreatedAt] ON [dbo].[Tickets]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_CustomerId]    Script Date: 25-02-2026 06:32:55 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_CustomerId] ON [dbo].[Tickets]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_Status]    Script Date: 25-02-2026 06:32:55 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Status] ON [dbo].[Tickets]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agents] ADD  CONSTRAINT [DF_Agents_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Agents] ADD  CONSTRAINT [DF_Agents_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TicketCategories] ADD  CONSTRAINT [DF_TicketCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_UpdatedAt]  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([AgentId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Agents]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Customers]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_TicketCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TicketCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_TicketCategories]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTicket]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @CustomerId UNIQUEIDENTIFIER,
    @AgentId UNIQUEIDENTIFIER,
    @CategoryId INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Status INT,
    @CreatedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Tickets
    (
        TicketId,
        CustomerId,
        AgentId,
        CategoryId,
        Title,
        Description,
        Status,
        CreatedAt
    )
    VALUES
    (
        @TicketId,
        @CustomerId,
        @AgentId,
        @CategoryId,
        @Title,
        @Description,
        @Status,
        @CreatedAt
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTickets]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllTickets]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TicketId,
        t.CustomerId,
        c.FullName AS CustomerName,
        t.AgentId,
        a.FullName AS AgentName,
        t.CategoryId,
        tc.CategoryName,
        t.Title,
        t.Description,
        t.Status,
        t.CreatedAt,
        t.UpdatedAt,
        t.ResolvedAt
    FROM dbo.Tickets t
    INNER JOIN dbo.Customers c ON t.CustomerId = c.CustomerId
    INNER JOIN dbo.Agents a ON t.AgentId = a.AgentId
    INNER JOIN dbo.TicketCategories tc ON t.CategoryId = tc.CategoryId
    ORDER BY t.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketReportByStatus]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTicketReportByStatus]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Status,
        COUNT(*) AS TicketCount
    FROM dbo.Tickets
    GROUP BY Status
    ORDER BY Status;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketsByCustomer]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTicketsByCustomer]
(
    @CustomerId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TicketId,
        t.CustomerId,
        c.FullName AS CustomerName,
        t.AgentId,
        a.FullName AS AgentName,
        t.CategoryId,
        tc.CategoryName,
        t.Title,
        t.Description,
        t.Status,
        t.CreatedAt,
        t.UpdatedAt,
        t.ResolvedAt
    FROM dbo.Tickets t
    INNER JOIN dbo.Customers c ON t.CustomerId = c.CustomerId
    INNER JOIN dbo.Agents a ON t.AgentId = a.AgentId
    INNER JOIN dbo.TicketCategories tc ON t.CategoryId = tc.CategoryId
    WHERE t.CustomerId = @CustomerId
    ORDER BY t.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTicketsPaged]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetTicketsPaged]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TicketId,
           Title,
           Description,
           Status,
           CreatedAt,
           UpdatedAt
    FROM dbo.Tickets
    ORDER BY CreatedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ResolveTicket]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ResolveTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @Status INT,
    @ResolvedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Tickets
    SET 
        Status = @Status,
        ResolvedAt = @ResolvedAt
    WHERE TicketId = @TicketId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTicket]    Script Date: 25-02-2026 06:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTicket]
(
    @TicketId UNIQUEIDENTIFIER,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Status INT,
    @UpdatedAt DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Tickets
    SET 
        Title = @Title,
        Description = @Description,
        Status = @Status,
        UpdatedAt = @UpdatedAt
    WHERE TicketId = @TicketId;
END
GO
USE [master]
GO
